@use "../../tokens/colors" as c;

.wmata-icon {
  fill: currentColor;
  stroke: none;

  &--primary {
    color: c.$monumental-bronze;
  }

  &--inverse {
    color: c.$statuary-white;
  }

  &--xl {
    width: 96px;
    height: 96px;
  }

  &--lg {
    width: 48px;
    height: 48px;
  }
}
