@use '../../tokens/typography' as t;
@use '../../tokens/colors' as c;
@use '../../tokens/layout' as l;

.wmata-h1 {
  font-family: t.$font-display;
  font-size: t.$font-size-lg;
  font-weight: 700;
  margin-bottom: l.$spacing-md;
  color: c.$monumental-bronze;
}

.wmata-h2 {
  font-family: t.$font-display;
  font-size: t.$font-size-base * 1.25;
  font-weight: 600;
  margin-bottom: l.$spacing-sm;
  color: c.$monumental-bronze;
}

.wmata-body {
  font-family: t.$font-text;
  font-size: t.$font-size-base;
  font-weight: 400;
  margin-bottom: l.$spacing-md;
  color: c.$monumental-bronze;
}

.wmata-caption {
  font-family: t.$font-text;
  font-size: t.$font-caption;
  font-weight: 400;
  color: c.$capital-blue-shade;
}
