@use '../tokens/colors' as c;
@use '../tokens/typography' as t;
@use '../tokens/layout' as l;
@use 'sass:color';

.btn {
  font-family: t.$font-text;
  font-weight: 600;
  border-radius: l.$border-radius;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  transition: 
    opacity .15s ease,
    transform .06s ease,
    background .15s ease,
    color .15s ease,
    font-weight .15s ease;

  &.btn-primary {
    background: c.$monumental-bronze;
    color: c.$statuary-white;
    border: 1px solid color.adjust(c.$monumental-bronze, $lightness: -8%);

    &:hover {
      background: c.$capital-cream;        // new background color
      color: c.$monumental-bronze;         // text becomes monumental bronze
      font-weight: 800;                    // extra bold
    }
  }

  &.btn-secondary {
    background: c.$capital-cream;
    color: c.$monumental-bronze;
    border: 1px solid color.adjust(c.$capital-cream, $lightness: -10%);

    &:hover {
      background: c.$monumental-bronze;     // new background color
      color: c.$statuary-white;             // white text
      font-weight: 800;                     // extra bold
    }
  }

  &.btn-accent {
    background: c.$capital-blue;
    color: c.$statuary-white;
    border: 1px solid color.adjust(c.$capital-cream, $lightness: -10%);

      &:hover { 
      background: c.$capital-dark-blue-shade;   // darker blue on hover
      color: c.$statuary-white;            // white text
      font-weight: 800;                    // extra bold
    }
  }

    &.btn-primaryv2 {
    background: c.$capital-dark-blue;
    color: c.$statuary-white;
    border: 1px solid color.adjust(c.$monumental-bronze, $lightness: -8%);

    &:hover {
      background: c.$capital-blue;        // new background color
      color: c.$statuary-white;         // text becomes monumental bronze
      font-weight: 800;                    // extra bold
    }
  }

  &.btn-secondaryv2 {
    background: none;
    color: c.$capital-blue-shade;
    border: 2px solid color.adjust(c.$capital-dark-blue, $lightness: 0%);

    &:hover {
      background: c.$capital-dark-blue;     // new background color
      color: c.$statuary-white;             // white text
      font-weight: 800;                     // extra bold
    }
  }



}


