@use '../tokens/colors' as c;
@use '../tokens/layout' as l;

.card {
  background: c.$capital-cream;
  border-radius: l.$border-radius;
  box-shadow: l.$shadow-base;
  padding: 16px;
  text-align: center;
  color: c.$monumental-bronze;
  
    &:hover {
      background: c.$monumental-bronze;     // new background color
      color: c.$statuary-white;             // white text
      font-weight: 800; 
      h3{ color: c.$statuary-white;}  
    }
}
