// src/tokens/_colors.palette.scss

/* CREAM */
$cream: (
  50:  #FDF7F1,
  100: #F9F1EA,
  200: #F4E9E0,
  300: #F0E5DA,
  400: #E8DCCF,
  500: #E0D4C3,
  600: #CFC2B3,
  700: #B5A89C,
  800: #9B9086,
  900: #686059,
  950: #35302C
);

/* BRONZE */
$bronze: (
  50:  #F8DFD4,
  100: #CFB5AA,
  200: #91776C,
  300: #866E64,
  400: #715B53,
  500: #5C4943,
  600: #4E3D37,
  700: #3A2C26,
  800: #352823,
  900: #2A201C,
  950: #201815
);

/* BLUE */
$blue: (
  50:  #C6DCFF,
  100: #AFCEFF,
  200: #8CB9FF,
  300: #70A8FF,
  400: #3885FF,
  500: #0063FF,
  600: #005DF0,
  700: #0054D9,
  800: #0047B8,
  900: #002E77,
  950: #001435
);

/* DARK BLUE */
$darkblue: (
  50:  #CFE5FF,
  100: #B4CFEF,
  200: #8CAED7,
  300: #709ACD,
  400: #3873BA,
  500: #004BA6,
  600: #004092,
  700: #003073,
  800: #002A65,
  900: #001F4A,
  950: #00142F
);

/* RED */
$red: (
  50:  #FFD5DC,
  100: #FDBEC8,
  200: #F99CAB,
  300: #F88497,
  400: #F5536E,
  500: #F22245,
  600: #E01C40,
  700: #C61239,
  800: #AA1031,
  900: #710B22,
  950: #390712
);

/* PINK */
$pink: (
  50:  #FFDFF0,
  100: #FFCDE7,
  200: #FEB3DA,
  300: #FEA1D1,
  400: #FE7CBF,
  500: #FE57AD,
  600: #EE419E,
  700: #D71F87,
  800: #B91B74,
  900: #7C124E,
  950: #3F0A28
);

/* ORANGE */
$orange: (
  50:  #FFE6D7,
  100: #FFD3B9,
  200: #FEC09C,
  300: #F9A571,
  400: #F08039,
  500: #E65B01,
  600: #E04D01,
  700: #D63700,
  800: #BB3000,
  900: #842200,
  950: #4D1400
);

/* MIST */
$mist: (
  50:  #DDF7FC,
  100: #BDF2FD,
  200: #8EEAFE,
  300: #72E5FE,
  400: #3BDBFE,
  500: #04D1FE,
  600: #02B4D6,
  700: #00899A,
  800: #007685,
  900: #00515B,
  950: #002B31
);

/* GREEN */
$green: (
  50:  #D6FFF6,
  100: #BAF5E9,
  200: #90E7D5,
  300: #75E1CB,
  400: #3FD5B6,
  500: #09C9A1,
  600: #09B391,
  700: #0A9179,
  800: #097D69,
  900: #065648,
  950: #042F27
);

/* MOSS */
$moss: (
  50:  #FBFFDC,
  100: #F0F7BD,
  200: #E0EC8E,
  300: #D8E773,
  400: #C9DE3C,
  500: #BAD505,
  600: #A4C503,
  700: #82AD00,
  800: #709500,
  900: #4B6400,
  950: #273400
);

/* GRAYSCALE */
$grayscale: (
  50:  #FFFFFF,
  100: #F1F1F1,
  200: #CCCCCC,
  300: #B3B3B3,
  400: #999999,
  500: #808080,
  600: #666666,
  700: #4D4D4D,
  800: #333333,
  900: #1A1A1A,
  950: #000000
);
@use "sass:map";

@function palette($family, $step) {
  @if map.has-key($family, $step) == false {
    @error "palette(): step '#{$step}' not found in palette map.";
  }
  @return map.get($family, $step);
}

