@use 'sass:color';

$monumental-bronze: #3a2c26 !default;
$statuary-white: #ffffff !default;
$capital-cream: #f4e9e0 !default;
$capital-red: #f22245 !default;
$capital-dark-blue: #004ba6 !default;
$capital-blue: #0063ff !default;
$union-plum: #ae3cfe !default;
$national-mall-green: #09c9a1 !default;
$dupont-glow: #fd5e01 !default;
