@use './breakpoints' as b;


/* =========================
   Layout Tokens
   ========================= */
$border-radius: 6px !default;
$space-unit: 8px !default;
$shadow-base: 0 2px 5px rgba(0,0,0,0.08) !default;

/* =========================
   Spacing Scale (px)
   ========================= */
$spacing-0: 0px !default;
$spacing-px: 1px !default;
$spacing-0-5: 2px !default;
$spacing-1: 4px !default;
$spacing-1-5: 6px !default;
$spacing-2: 8px !default;
$spacing-2-5: 10px !default;
$spacing-3: 12px !default;
$spacing-3-5: 14px !default;
$spacing-4: 16px !default;
$spacing-5: 20px !default;
$spacing-6: 24px !default;
$spacing-7: 28px !default;
$spacing-8: 32px !default;
$spacing-9: 36px !default;
$spacing-10: 40px !default;
$spacing-11: 44px !default;
$spacing-12: 48px !default;
$spacing-14: 56px !default;
$spacing-16: 64px !default;
$spacing-20: 80px !default;
$spacing-24: 96px !default;
$spacing-28: 112px !default;
$spacing-32: 128px !default;
$spacing-36: 144px !default;
$spacing-40: 160px !default;
$spacing-44: 176px !default;
$spacing-48: 192px !default;
$spacing-52: 208px !default;
$spacing-56: 224px !default;
$spacing-60: 240px !default;
$spacing-64: 256px !default;
$spacing-72: 288px !default;
$spacing-80: 320px !default;
$spacing-96: 384px !default;

/* =========================
   Semantic aliases (recommended)
   ========================= */
$space-xs: $spacing-2 !default;     // 8px
$space-sm: $spacing-3 !default;     // 12px
$space-md: $spacing-4 !default;     // 16px
$space-lg: $spacing-6 !default;     // 24px
$space-xl: $spacing-8 !default;     // 32px
$space-2xl: $spacing-12 !default;   // 48px



:root {
  /* Default (very small screens): fluid */
  --wmata-container-max: 100%;
  --wmata-container-padding: 16px;
  --wmata-grid-gutter: 16px;
}

/* Mobile design width */
@include b.up(sm) {
  :root {
    --wmata-container-max: 375px;
    --wmata-container-padding: 16px;
    --wmata-grid-gutter: 16px;
  }
}

/* Tablet design width */
@include b.up(md) {
  :root {
    --wmata-container-max: 768px;
    --wmata-container-padding: 24px;
    --wmata-grid-gutter: 20px;
  }
}
/* Desktop design width */
@media (min-width: 1440px){
  :root{
    --wmata-container-max: 1440px;
    --wmata-container-padding: 32px;
    --wmata-grid-gutter: 24px;
  }
}

/* macbook 14" */
@include b.up(lg) {
  :root {
    --wmata-container-max: 1512px;
    --wmata-container-padding: 32px;
    --wmata-grid-gutter: 24px;
  }
}