$font-display: 'Helvetica Now Display', -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !default;
$font-text: 'Helvetica Now Text', -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !default;

$font-size-base: 16px !default;
$font-size-lg: 20px !default;
