@use 'tokens/colors' as colors;
@use 'tokens/typography' as type;
@use 'tokens/layout' as layout;

@use 'components/buttons/wmata-buttons.scss';
@use 'components/cards/cards.scss';
@use 'components/link/link.scss';
@use 'components/Alert/alerts.scss';
@use 'components/colors/wmata-colors.scss';
@use 'components/forms/wmata-forms.scss';
@use 'components/Badge/badges.scss';

@use 'components/forms';
@use 'components/iconography/iconography.scss';
@use 'components/iconography/iconography-usage.scss';
@use 'components/iconography/iconography-samples.scss';
@use 'components/metro-squares.scss';
@use 'components/vertical-poster-grid.scss';
@use "components/typography/hierarchy.scss";


@use 'utilities/text';
@use 'utilities/backgrounds';
@use 'utilities/spacing';

:root {
  --wmata-primary: #{colors.$monumental-bronze};
  --wmata-white: #{colors.$statuary-white};
}
html,body { height:100%; }
body {
  font-family: type.$font-text;
  color: colors.$monumental-bronze;
  background: colors.$statuary-white;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

h1,h2,h3 { margin:0 0 8px 0; color: colors.$monumental-bronze; }
.h1 { font-size: 28px; font-family: type.$font-display; }
.body-text { font-size: type.$font-size-base; }
